<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreFrameWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Dorapps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>694BDB82196ED7B100E60CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>694BDB9D196ED7B100E60CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>694BDD44196EDCF000E60CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69D3E1DD1974323400172FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69D3E27A197433DE00172FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69D3E296197433DF00172FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69D3E2AB1974351D00172FEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
